<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn4">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <application
        android:name=".util.Application"
        android:allowBackup="false"
        android:configChanges="orientation|screenSize"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.PaymentTestActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.simulator.TeachableActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.dictionary.BlockDictionaryActivity2"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.dictionary.BlockDictionaryActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.learn4.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".view.problem.solve.RightAnswerActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.chapter.ChapterActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.problem.basic.ProblemActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.problem.solve.SolvingProblem"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.contents.ContentsActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.onboarding.IntroActivity"
            android:exported="true"
            android:label="배울래?"
            android:screenOrientation="sensorLandscape">

        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".view.onboarding.LoginActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.mode_select.ModeSelect"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="sensorLandscape" />
    </application>

</manifest>